http/api/**/* linguist-generated=true
http/sdk/go/**/* linguist-generated=true
grpc/protobuf/**/* linguist-generated=true
grpc/models/**/* linguist-vendored=true
grpc/services/**/* linguist-vendored=true

http/api/go/api_*_service.go linguist-generated=false
http/api/main.go linguist-generated=false
